# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python precompiled files
*.pyc

# CMSSW-specific auxiliary files
__init__.py

# ROOT files from test runs
/*.root

# Files with notes
*.txt

